.home-container {
      padding: 20px 400px;
    text-align: center;
}

.card-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.card {
    width: 150px;
    height: 140px;
    background: #f5f6fa;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
}

    .card:hover {
        transform: translateY(-5px);
        background: #e8f0ff;
    }

.icon {
    font-size: 35px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  border-bottom: 2px solid #ddd;
}

.tab {
  padding: 10px 18px;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
  color: #555;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease;
}

.tab:hover {
  color: #4f7cff;
}

.tab.active {
  color: #4f7cff;
  font-weight: 600;
  border-bottom: 3px solid #4f7cff;
}

.vermelho {
  color: #e53935;
  font-weight: 600;
}

.verde {
  color: #2e7d32;
  font-weight: 600;
}
