.transacoes-container {
    padding: 20px 12%;
}

.valor-despesa {
  color: #e53935;
  font-weight: 600;
}

.valor-receita {
  color: #2e7d32;
  font-weight: 600;
}

.valor-despesa i,
.valor-receita i {
  margin-left: 6px;
}

/* Responsividade */
@media (max-width: 1024px) {
  .transacoes-container {
    padding: 18px 9%;
  }
}

@media (max-width: 768px) {
  .transacoes-container {
    padding: 14px 4%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px 2%;
  }

  .table {
  font-size: 8px;
}
}
