body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  all: unset;
  cursor: pointer;
}

.container {
  padding: 20px 25%;
}

.form-card {
  background: #f5f6fa;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.form-card input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  flex: 1;
}

.form-card button {
  background: #4f7cff;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.form-card select {
  flex: 1;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  color: grey;
  max-width: 180px;
}


.table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.table th,
.table td {
  padding: 14px 16px;
  text-align: left;
}

.table thead {
  background: #f4f6fb;
}

.table th {
  font-weight: 600;
  color: #333;
}

.table tbody tr {
  border-bottom: 1px solid #eee;
}

.table tbody tr:hover {
  background: #f9fbff;
}

/* Responsividade */
@media (max-width: 1024px) {
  .container {
    padding: 20px 12%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 16px 8%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 12px 4%;
  }

  .table {
  font-size: 12px;
}
}